.home {
  .header {
    height: 44px;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 16px;
    z-index: 3000;

    .header_tit {
      width: 100%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      color: #262727;
    }

    .header_icon {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 15px;
      right: 15px;
    }
  }

  .main-body {
    height: calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;

    .van-popup--right {
      width: 180px;
      height: 100%;

      .nav__list {
        padding: 60px 16px;

        .nav__item {
          text-align: right;
          height: 25px;
          line-height: 25px;
          font-size: 18px;
          color: #262727;
          margin-bottom: 20px;
        }

        .nav__item:active {
          background: rgba(0, 0, 0, .1);
        }
      }
    }

    .barChart {
      height: 360px;
    }

    .lineChart {
      height: 156px;
    }

    .pieChart {
      height: 200px;
    }
  }
}
