.commBox {
  background: #FFFFFF;
  padding: 16px;
  margin-bottom: 16px;

  .commBox_header {
    height: 22px;
    line-height: 22px;
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: bold;
    color: #262727;
  }
}
