$--color-common-btn: #2B2E33 !default;

$--color-table-link: #4077E6 !default;

$--color-submit-border: #C3C5CC !default;

$--color-menu-bg: rgb(48, 65, 86) !default;

$--color-send-message-head: #CDD1D9 !default;
$--color-send-message-border: #C3C5CC !default;

$--color-counter-sign-clear: #F17178 !default;
$--color-counter-sign-del: #7AA6FF !default;
